!!! 5
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: 'http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'application.css'}
  %body
    .container!= body
