html, body {
  background: #111 url('http://subtlepatterns.com/patterns/dark_stripes.png');
}
div {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.container {
  width: 960px;
  margin: 20px auto;
  padding: 20px;
  background-color: #FAFAFA;
  font: normal 16px 'Helvetica', 'Arial', 'sans-serif';
}
h1 {
  font-size: 30px;
  font-weight: bold;
}
.flash {
  margin: 20px 0;
  padding: 10px;
  background-color: #DDDDEE;
}
form {
  margin: 20px 0;
}
label, input {
  display: inline-block;
  vertical-align: middle;
}
input[type=text] {
  padding: 5px;
}
